.filter-component {
  width: 100%;
  box-shadow: var(--shadow-filter);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.filter-component-body {
  background: var(--colour-filter-body);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 0 0 var(--radius-md) var(--radius-md);
}

.filter-component-header {
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.filter-component-header-clinical-trial {
  background: var(--colour-zoryve-midnight-blue);
  color: var(--colour-white);
}

.filter-component-header-practice-based {
  background: var(--colour-zoryve-blue);
  color: var(--colour-zoryve-midnight-blue);
}

.filter-component-title {
  font-family: var(--font-family);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  margin: 0;
}

.filter-component-body-condensed {
  padding: var(--spacing-xs);
}
