.filter-body {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--color-white);
}

.filter-body__content {
  padding: var(--filter-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--filter-spacing);
}
