.carousel-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 5;
}

.carousel-shadow-image {
  width: 900px;
  max-width: 90vw;
  height: auto;
}
