.intro-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.intro-page-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
