.intro-page {
  height: 100%;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
}

.intro-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.intro-page-button {
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl);
  flex-shrink: 0;
}

/* Responsive */
@media (max-width: 600px) {
  .intro-page {
    max-width: 100%;
  }

  .intro-page-button {
    padding: var(--spacing-xl);
  }
}