.body-area-filter {
  position: relative;
  min-height: 100px;
}

.body-area-filter-background {
  position: absolute;
  top: 8px;
  left: 0;
  width: 50px;
  height: 102px;
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-image: url('/UI/body-area-person.svg');
}

.body-area-filter-options {
  position: relative;
  z-index: 1;
  padding-left: 48px;
}
