.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.app-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-zoryve-black);
}
